{% load tags %}
{% load staticfiles %}

{% block about %}
<div class="row">

         <div class="three columns">

            <img class="profile-pic"  src="{% static 'images/profilepic.jpg' %}" alt="" />

         </div>

         <div class="nine columns main-col">

            <h2>About Me</h2>

            <p>
				Wait, I'm thinking on how I should start this... probably I am not not doing it the in best way possible but there will never exist a best way.
				I'm Joao, 26 years old (just to make sure you're not out dated today is 02 of February of 2017) and I am like I am in the Internet! woww!
				Hobbies?? Sometimes I just go outside and run for couple of hours, maybe couple of minutes but I RUN! Some weeks more that others but that counts right??!
				I live in Amsterdam... the hour spend going to work and way back home is done by bike... I also use it for some long rides!
				Yes, I also like to be with other people, football is a nice hobby when there are enough players :)
				
				<br>So far you have seen a lot of fun but no education or work??? just keep scrolling down and you will find out! But before that will leave you my details.
				
				
            </p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contact Details</h2>
                  <p class="address">
				 	<span>Joao Serrao</span><br> 
				  </p>

               </div>

               <div class="columns download">
                  <p>
                     <a href="{% static 'CV-Europass.pdf' %}" class="button"><i class="fa fa-download"></i>Download Resume</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>
{% endblock %}