{% load tags %}
{% load staticfiles %}

{% block about %}
<div class="row">

         <div class="three columns">

            <img class="profile-pic"  src="{% static 'images/profilepic.jpg' %}" alt="" />

         </div>

         <div class="nine columns main-col">

            <h2>About Me</h2>

            <p>
				Wait, I'm thinking on how I should start this... probably I am not not doing it the in best way possible but that's what you will get.
				I'm Joao, 25 years old (just to make sure you're not out dated today is 23 of February of 2016) and I am like I am in the Internet! woww!
				Shall we speak about something else? hobbies?? well sometimes I just go outside and run couple of days, ok ok maybe just a few hours or 
				even minutes but I RUN! some weeks more that others but still keep going... that counts right??!?!
				I live in Amsterdam... the hour spend going to work and way back home is done on a bike... can it be called a hobbie? if not we are still ok... I also use a bike for some long rides...
				Yes I also like to be with other people, football is a nice hobbie when there are enough players :)
				
				<br>Now you see a lot of fun but no education or work??? just continue scrolling down and you will find out! But before that will leave you my details.
				
				
            </p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contact Details</h2>
                  <p class="address">
				 	<span>Joao Serrao</span><br>
						   
                     <span>anyone@website.com</span><br>
                     <span>anyone@website.com</span><br>
                     <span>anyone@website.com</span><br>
				  </p>

               </div>

               <div class="columns download">
                  <p>
                     <a href="#" class="button"><i class="fa fa-download"></i>Download Resume</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>
{% endblock %}