{% load tags %}
{% load staticfiles %}

{% block contact %}
         <div class="row section-head">

            <div class="two columns header-col">

               <h1><span>Get In Touch.</span></h1>

            </div>

            <div class="ten columns">

                  <p class="lead">
						How the contact works?!?!?! Your message will be saved on the database and I will receive an email with it!
                  </p>

            </div>

         </div>

         <div class="row">

            <div class="eight columns">

               <!-- form -->
               
				{% if messages %}
				<ul class="messages">
				    {% for message in messages %}
				    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
				    	<i class="fa fa-check"></i>
				    	{{ message }}
					</li>
					{% endfor %}
				</ul>
				{% endif %}

				{% if errors %}
				     <ul class="messages">
			        {% for error in errors %}
			            <li class="message.tags">{{ error }}</li>
			        {% endfor %}
			        </ul>
			    {% endif %}
               
               <form action="" method="post">
               {% csrf_token %}
               	<fieldset>

                  <div>
						   <label for="contactName">Name <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contact_name" name="contact_name">
                  </div>

                  <div>
						   <label for="contactEmail">Email <span class="required">*</span></label>
						   <input type="text" value="" size="35" id="contact_email" name="contact_email">
                  </div>

                  <div>
                     <label for="contactMessage">Message <span class="required">*</span></label>
                     <textarea cols="50" rows="15" id="content" name="content"></textarea>
                  </div>

                  <div>
                     <button class="submit">Submit</button>
                     <span id="image-loader">
                        <!--  img alt="" src="{% static 'images/loader.gif' %}" -->
                     </span>
                  </div>

					</fieldset>
				   </form> <!-- Form End -->
				  
					{% if messages.success %}
				
					<ul class="messages">
					    {% for message in messages.success %}
					    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
					    	<i class="fa fa-check"></i>
					    	{{ message }}
						</li>
						{% endfor %}
					</ul>
					{% endif %}

					{% if errors %}
					     <ul class="messages">
				        {% for error in errors %}
				            <li class="message.tags">{{ error }}</li>
				        {% endfor %}
				        </ul>
				    {% endif %}
					     
			    </div>


<!-- 	<aside class="four columns footer-widgets"> -->

<!-- 		<div class="widget widget_contact"> -->

<!-- 			<h4>Address and Phone</h4> -->
<!-- 			<p class="address"> -->
<!-- 				Jonathan Doe<br> 1600 Amphitheatre Parkway <br> Mountain -->
<!-- 				View, CA 94043 US<br> <span>(123) 456-7890</span> -->
<!-- 			</p> -->

<!-- 		</div> -->

<!-- 		<div class="widget widget_tweets"> -->

<!-- 			<h4 class="widget-title">Latest Tweets</h4> -->

<!-- 			<ul id="twitter"> -->
<!-- 				<li><span> This is Photoshop's version of Lorem Ipsum. -->
<!-- 						Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, -->
<!-- 						lorem quis bibendum auctor, nisi elit consequat ipsum <a href="#">http://t.co/CGIrdxIlI3</a> -->
<!-- 				</span> <b><a href="#">2 Days Ago</a></b></li> -->
<!-- 				<li><span> Sed ut perspiciatis unde omnis iste natus -->
<!-- 						error sit voluptatem accusantium doloremque laudantium, totam rem -->
<!-- 						aperiam, eaque ipsa quae ab illo inventore veritatis et quasi <a -->
<!-- 						href="#">http://t.co/CGIrdxIlI3</a> -->
<!-- 				</span> <b><a href="#">3 Days Ago</a></b></li> -->
<!-- 			</ul> -->

<!-- 		</div> -->

<!-- 	</aside> -->

</div>
{% endblock %}